html {
    text-align: center;
    background-color: #f1f1f1;
    background-image: url(./assets/bg-plawmi.png);
    background-size: cover;
}
@font-face {
  font-family: myFirstFont;
  src: url(./assets/CaveatBrush-Regular.ttf);
}
#img {
  width:307px;
  height:85px;
  margin-top: 20px;
  margin-bottom: 40px;
}
h1 {
  font-family: myFirstFont;
  font-size: 55pt;
  color: #202020;
}
#buttons {
    position: absolute;
    left: 10px;
    top: 0px;
  }
  .button {
    margin-top: 10px;
    display: block;
  }