html {
    text-align: center;
}
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: linear-gradient(90deg, rgba(255,16,4,1) 0%, rgba(241,255,0,1) 15%, rgba(0,255,12,1) 28%, rgba(0,255,252,1) 46%, rgba(12,0,253,1) 64%, rgba(254,6,248,1) 81%, rgba(255,0,0,1) 100%);
}
#buttons {
    position: absolute;
    left: 10px;
    top: 0px;
  }
  .button {
    margin-top: 10px;
    display: block;
  }
